# PIC 16 - Discussion 2R
# 01/18/2018 Thursday

# MS 2330
# T 12 - 1
# R 1 - 2

# Questions in the last discussion

In [2]:
dic = {"PIC 16": 1, "Hello": 2, "MATH 1": 3, "aaa": 4, "efee": 5}

In [3]:
for key in dic:
    print key,":",dic[key]

print

# This is how you sort the dictionary
for key in sorted(dic, key=dic.__getitem__):
    print key,":",dic[key]

PIC 16 : 1
aaa : 4
Hello : 2
efee : 5
MATH 1 : 3

PIC 16 : 1
Hello : 2
MATH 1 : 3
aaa : 4
efee : 5

In [4]:
print "PIC 16:", hash("PIC 16")
print "Hello:", hash("Hello")
print "MATH 1:", hash("MATH 1")
print "aaa:", hash("aaa")
print "efee:", hash("efee")

print 

sort_dic = map(hash, ["PIC 16", "Hello", "MATH 1", "aaa", "efee"])

print sorted(sort_dic, key = lambda x: abs(x))

PIC 16: 1989161435
Hello: 1127225053
MATH 1: 37225821
aaa: -1599925404
efee: 1980679899

[37225821, 1127225053, -1599925404, 1980679899, 1989161435]

In [5]:
import hashlib
print hashlib.md5('PIC 16').hexdigest()
print hashlib.md5('Hello').hexdigest()
print hashlib.md5('MATH').hexdigest()
print hashlib.md5('aaa').hexdigest()
print hashlib.md5('efee').hexdigest()

4db1a0851414775fc1f16255c45dcd4a
8b1a9953c4611296a827abf8c47804d7
65571aa0536447fb1cf47a2b5a98954b
47bce5c74f589f4867dbd57e9ca9f808
ffc9f11de71bfa4ae448b31b085a33b9

---
## List Comprehension

In [6]:
numbers = [1,2,3,4,5]

a = []
for n in numbers:
    if n % 2 == 1:
        a.append(n ** 2)

print a

[1, 9, 25]

In [7]:
a = map(lambda n: n ** 2, filter(lambda n: n % 2 == 1, numbers))
print a

[1, 9, 25]

In [8]:
a = [n ** 2 for n in numbers if n % 2 == 1]
print a

[1, 9, 25]

In [9]:
colors = ["red", "blue", "green"]
objects = ["car", "pen", "desk", "chair"]

arr = []

for color in colors:
    for object in objects:
        arr.append((color, object))
        
print arr

[('red', 'car'), ('red', 'pen'), ('red', 'desk'), ('red', 'chair'), ('blue', 'car'), ('blue', 'pen'), ('blue', 'desk'), ('blue', 'chair'), ('green', 'car'), ('green', 'pen'), ('green', 'desk'), ('green', 'chair')]

In [10]:
print [(color, obj) for color in colors for obj in objects]

[('red', 'car'), ('red', 'pen'), ('red', 'desk'), ('red', 'chair'), ('blue', 'car'), ('blue', 'pen'), ('blue', 'desk'), ('blue', 'chair'), ('green', 'car'), ('green', 'pen'), ('green', 'desk'), ('green', 'chair')]

## Problem

Make list comprehension that creates the Pythagorean triples

Output
```
(3, 4, 5), (5, 12, 13), (6, 8, 10), ...
```
All values are from 1 to 30

In [16]:
b = []
for i in range(1,31):
    for j in range(i+1,31):
        if isinstance(i**2+j**2, int):
            b.append(i**2+j**2)
            
print b

[5, 10, 17, 26, 37, 50, 65, 82, 101, 122, 145, 170, 197, 226, 257, 290, 325, 362, 401, 442, 485, 530, 577, 626, 677, 730, 785, 842, 901, 13, 20, 29, 40, 53, 68, 85, 104, 125, 148, 173, 200, 229, 260, 293, 328, 365, 404, 445, 488, 533, 580, 629, 680, 733, 788, 845, 904, 25, 34, 45, 58, 73, 90, 109, 130, 153, 178, 205, 234, 265, 298, 333, 370, 409, 450, 493, 538, 585, 634, 685, 738, 793, 850, 909, 41, 52, 65, 80, 97, 116, 137, 160, 185, 212, 241, 272, 305, 340, 377, 416, 457, 500, 545, 592, 641, 692, 745, 800, 857, 916, 61, 74, 89, 106, 125, 146, 169, 194, 221, 250, 281, 314, 349, 386, 425, 466, 509, 554, 601, 650, 701, 754, 809, 866, 925, 85, 100, 117, 136, 157, 180, 205, 232, 261, 292, 325, 360, 397, 436, 477, 520, 565, 612, 661, 712, 765, 820, 877, 936, 113, 130, 149, 170, 193, 218, 245, 274, 305, 338, 373, 410, 449, 490, 533, 578, 625, 674, 725, 778, 833, 890, 949, 145, 164, 185, 208, 233, 260, 289, 320, 353, 388, 425, 464, 505, 548, 593, 640, 689, 740, 793, 848, 905, 964, 181, 202, 225, 250, 277, 306, 337, 370, 405, 442, 481, 522, 565, 610, 657, 706, 757, 810, 865, 922, 981, 221, 244, 269, 296, 325, 356, 389, 424, 461, 500, 541, 584, 629, 676, 725, 776, 829, 884, 941, 1000, 265, 290, 317, 346, 377, 410, 445, 482, 521, 562, 605, 650, 697, 746, 797, 850, 905, 962, 1021, 313, 340, 369, 400, 433, 468, 505, 544, 585, 628, 673, 720, 769, 820, 873, 928, 985, 1044, 365, 394, 425, 458, 493, 530, 569, 610, 653, 698, 745, 794, 845, 898, 953, 1010, 1069, 421, 452, 485, 520, 557, 596, 637, 680, 725, 772, 821, 872, 925, 980, 1037, 1096, 481, 514, 549, 586, 625, 666, 709, 754, 801, 850, 901, 954, 1009, 1066, 1125, 545, 580, 617, 656, 697, 740, 785, 832, 881, 932, 985, 1040, 1097, 1156, 613, 650, 689, 730, 773, 818, 865, 914, 965, 1018, 1073, 1130, 1189, 685, 724, 765, 808, 853, 900, 949, 1000, 1053, 1108, 1165, 1224, 761, 802, 845, 890, 937, 986, 1037, 1090, 1145, 1202, 1261, 841, 884, 929, 976, 1025, 1076, 1129, 1184, 1241, 1300, 925, 970, 1017, 1066, 1117, 1170, 1225, 1282, 1341, 1013, 1060, 1109, 1160, 1213, 1268, 1325, 1384, 1105, 1154, 1205, 1258, 1313, 1370, 1429, 1201, 1252, 1305, 1360, 1417, 1476, 1301, 1354, 1409, 1466, 1525, 1405, 1460, 1517, 1576, 1513, 1570, 1629, 1625, 1684, 1741]

In [19]:
[(a,b,c) for a in range(1,31) for b in range (a,31) for c in range (b,31) if a**2 + b**2 == c**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (18, 24, 30),
 (20, 21, 29)]

## Problem

Make list comprehension that creates a list of primes

Output: 
```
2, 3, 5, 7, ... , 97
```

Hint: Eliminate non primes

In [22]:
a = range(1,100)
print a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [24]:
nonprimes = [j for i in range(2,8) for j in range(i*2, 101, i)]

primes = [i for i in range(2,101) if i not in nonprimes]

---
## Map

In [25]:
def add_by_2(n):
    return n + 2

def multiply_by_3(n):
    return n * 3

numbers = [1,2,3,4,5,6]

add = map(add_by_2, numbers)
mul = map(multiply_by_3, numbers)

print add
print mul

[3, 4, 5, 6, 7, 8]
[3, 6, 9, 12, 15, 18]

In [26]:
a = [1,2,3,4,5]
b = [16,13,23,62,1]
c = [17,15,26,66,6]

In [27]:
a_minus_b = map(lambda x,y: x-y, a,b)
print a_minus_b

[-15, -11, -20, -58, 4]

## Problem

Do the same thing with lambda

In [28]:
numbers = [1,2,3,4,5,6]
add = map(lambda x: x+2, numbers)
mul = map(lambda x: x*3, numbers)

print add
print mul

[3, 4, 5, 6, 7, 8]
[3, 6, 9, 12, 15, 18]

## Problem

Create a list for **a + b - c** using map

In [29]:
a = [1,2,3,4,5]
b = [16,13,23,62,1]
c = [12,3,20,6,16]

ans = map(lambda x, y, z: x+y-z, a, b, c)
print ans

[5, 12, 6, 60, -10]

---
## Filters

In [30]:
numbers = range(100)
print numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [31]:
odd = filter(lambda x: x % 2, numbers)
print odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [32]:
odd = filter(lambda x: x % 2 != 0, numbers)
print odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

## Problem

Create a list of even numbers using filter

In [33]:
even = filter(lambda x: x%2 == 0, numbers)
print even

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

## Problem

Filters out multiples of 3 and 5

Output

```
1, 2, 4, 7, 8, 11, ...
```

In [35]:
numbers = range(100)

num = filter(lambda x: x%3 and x%5, numbers)
print num

[1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]

---
## Reduce

**Reduce** returns a single value

In [36]:
arr = [47,11,42,13]

In [37]:
reduce(lambda x,y: x+y, arr)

113

In [38]:
reduce(lambda x,y: x-y, arr)

-19

In [39]:
ans = arr[0]
for i in range(1,4):
    ans -= arr[i]
    
print ans

-19

## Problem

Use reduce to add from 1 through 100

Use reduce to multiply from 1 through 100

In [40]:
reduce(lambda x,y:x+y, range(1,101))

5050

In [44]:
arr = range(1,101)
ans = arr[0]
for i in range(1,101):
    ans += i
    
print ans

5051

In [41]:
reduce(lambda x,y:x*y, range(1,101))

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000L

## Problem

Complete the **max_function** so that the output is **47**.

In [45]:
arr = [47,11,42,13]

# Finding max
def max_function(x, y):
    if x>y:
        return x
    
# Don't modify below
result = reduce(max_function, arr)
print result

47

## Problem

Do the same thing with reduce and lambda

In [52]:
result = reduce(lambda x,y: x if x>y else y, arr)
print result

47